*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 160px;
    margin: 1rem;
}

h1{
    margin: 2rem;
}

main{
    background-color: goldenrod;
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    
}

.container{
    
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    /* border: 2px solid white; */
    margin: 0 auto;
    font-weight: 600;
    
}

section.container > article.box{
    width: calc((100% / 10) - 4px);
    height: calc((100% / 10) - 4px);
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container > .active{
    background-color: blueviolet;
}

